.timeCenterContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    position: absolute;
    top: -25%;
    opacity: 0;
    transition: opacity 1500ms 500ms, left 250ms, top 250ms;
}

.dateTimeContainer{
    /* center horizontal */
    left: 0;
    right: 0;
    margin: auto;

    /* change this for the size of the clock */
    height: 20vw;
    width: 65%;
    
    position: absolute;

    z-index: 5;

    transition: opacity 250ms ease-in;
    opacity: 0;
}
.dateTimeContainer.dateActive{
    opacity: 1;
}

#day{
    position: absolute;
    color: white;
    font-size: 14vw;
    text-align: right;
    width: 39%;
    /* width:  100%;
    left: -62%; */
    overflow: hidden;
    /* transition-duration: 1000ms; */

    left: 0;
}
/* #day:hover{
    width:  100%;
    left: -62%;
} */

.divImage{
    position: absolute;
    width: 66%;
    /* height: 100%; */
    left: 37%;
}


#dateAndTimeContainer{
    position: absolute;
    display: flex;
    /* height: 63%; */
    height: 100%;
    width: 52.5%;
    left: 47%;
    overflow: hidden;
    flex-direction: column;
    overflow: hidden;
}
#time{
    /* position: absolute; */
    color: black;
    font-size: 7vw;

    /* center horizontal */
    /* left: 0;
    right: 0; */
    margin: auto;
}
#date{
    /* position: absolute; */
    color: white;
    font-size: 3vw;

    /* center horizontal */
    /* left: 0;
    right: 0; */
    margin: auto;
}

/* ---------- Digital flipper Clock ---------- */
.flipClock{
   --card-color: darkslategrey;
    /* darkOrange; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

   /* center horizontal */
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;

    transform: scale(0.6);

    transition: opacity 250ms ease-in;
    opacity: 0;
}
.flipClock.dateActive{
    opacity: 1;
}
.flipperClock{
    display: flex;
    gap: 10px;
    align-items: baseline;

    --card-width: 100px;
    --card-height: calc(var(--card-width) * 1.5); /* 150px; */
}
.flipper{
    display: flex;
    flex-direction: column;
    
    color: white;
    font-size: var(--card-height);

    background-color: black;
    border-radius: 10px;

    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}
.flipperTop{
    background-color: var(--card-color);
    width: var(--card-width);
    height: calc(var(--card-height)/2);

    border-radius: 10px 10px 0 0 ;
    border-bottom: 2px solid rgb(10, 40, 40);

    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;

    transform-origin: bottom;

    z-index: 1;
}
.flipperTop > div{
    /* transform: translateY(-19px); */
    transform: translateY(calc(var(--card-height) / -21));
    /* -7.89473)); */
}
.flipperBottom{
    background-color: var(--card-color);
    width: var(--card-width);
    height: calc(var(--card-height)/2);

    border-radius: 0 0 10px 10px;
    border-top: 2px solid rgb(7, 30, 30);

    text-align: center;
    overflow: hidden;
    /* display: flex; */
    justify-content: center;
    align-items: end;

    transform-origin: top;
    transform: rotateX(-90deg);
    
    z-index: 1;

    /* box-shadow: inset 0 16.5px 32px -10.5px #000000; */
}
.flipperBottom > div {
    transform: translateY(-50%);
}
.newFlipperTop{
    position: fixed;
    z-index: 0;
}
.newFlipperBottom{
    position: fixed;
    transform: rotateY(0) translateY(100%);
    box-shadow: inset 0 0 0 0 #0000003a;

}

.flipperTop.flipping{
    transform: rotateX(90deg);
    transition: transform 500ms;
    z-index: 0;
}
.flipperBottom.flipping{
    transition: transform 500ms ease-out, box-shadow 250ms;
    transform: rotateX(0);

    box-shadow: inset 0 0 0 0 #000000;
}
.newFlipperBottom.flipping{
    -webkit-box-shadow: inset 0 16.5px 32px -10.5px #000000;
    -moz-box-shadow: inset 0 16.5px 32px -10.5px #000000;
    box-shadow: inset 0 16.5px 32px -10.5px #000000a4;

    transition: box-shadow 500ms;
    transform: rotateY(0) translateY(100%);
}

.flipperDiv{
    display: flex;
    align-items: center;
    color: var(--card-color);
    font-size: var(--card-height);
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;

    height: var(--card-height);
}


.flipDate{
    --card-height: 80px;
    --card-width: 60px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    transform: scale(.5);
    margin-top: 20px;
}
.dateFlipperDay{
    --card-width: 300px;
    margin-right: 30px;
}

.dateFlipperMonth{
    --card-width: 200px;
    margin-left: 30px;
}